{% extends 'base.html.twig' %}

{% block title %}Hello UserDetailController!{% endblock %}

{% block body %}
    <h1>{{ user_detail.firstname }} {{ user_detail.lastname }}</h1>
    <h4>Pseudo : {{ user_detail.username }}</h4>
    <h4>Email : {{ user_detail.email }}</h4>
    <h4>Liste des jeux</h4>
    <ul>
        {% for product in user_detail.product %}
        <li>
            {{ product.name}}
        </li>
        {% endfor %}
    </ul>

{% endblock %}
