{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Détails du produit {{ product.name }}</h1>
    <img  class="img-fluid" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}">
    <p>Ref : {{ product.ref }}</p>
    <p>{{ product.description }}</p>
    <p>{{ (product.price / 100) | format_currency("EUR", locale="fr") }}</p>
    <p>proposé par <a href="{{ path('user_detail', {id : product.user.id }) }}">{{ product.user.username }}</a></p>
    {% for tag in product.tags %}
        <a href="{{ path('products_by_tag',{slug: tag.slug}) }}"><span class="badge badge-info">#{{ tag.name }}</span></a>
    {% endfor %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') and product.user == app.user %}
       <p class="mt-3"><a class="btn btn-primary" href="{{ path('edit_product', {id : product.id}) }}"> Modifier le
               produit</a></p>
    {% endif %}
{% endblock %}
